<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alnik.examquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:name=".ExamQuiz" >

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Anonymous.AnonymousActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CreateAccountActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.StudentActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Teacher.TeacherActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Course.CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Course.NewTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.CourseStudentActivity"
            android:label="@string/title_activity_course_student"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.SearchCourseActivity"
            android:label="@string/title_activity_search_course"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Course.RequestsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.RunningTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Teacher.ResultsActivity"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Course.CheckTestActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Student.StudentScoreActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>